<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex">
    <title>Admin Page</title>
    <style>
        #btncontainer button {
    width: 40px;
    height: 40px;
    margin-right:10px;
    margin-top:10px;
}

#screencontrols {margin-top:20px}

#screencontrols button{
    width: 114px;
    height: 40px;    
    margin-right:10px;
    margin-top:10px;
}
#logging {margin-top:25px}
#logging span {font-weight:bold}
#logging p {line-height:0.8em}
#logging {max-height:300px;
         overflow-x:auto}
         #logging p:first-child {
    font-weight: bold;
    background:#8BC34A !important;
    padding:5px
}
.selected {background: #8BC34A;}
div#btncontainer button{width:180px}

/*#log {word-break: break-all;}*/
    </style>
</head>

<body>
    <div><span><b>ADMIN controller:</b></span>
        <div id="btncontainer">
            <button onclick="sendMessageAdmin('admin_next-level');">ADMIN: Next Level</button>
            <button onclick="sendMessageAdmin('admin_start-round');">ADMIN: Start Round</button>
            <button onclick="sendMessageAdmin('admin_show-fonokok');">ADMIN: Show Fonokok</button>
            <button onclick="sendMessageAdmin('admin_hide-fonokok');">ADMIN: Hide Fonokok</button>
            <button onclick="sendMessageAdmin('admin_boss-attack');">ADMIN: Boss Attack</button>
            <button onclick="sendMessageAdmin('admin_select-question');">ADMIN: Select Question</button>
            <button onclick="sendMessageAdmin('admin_start-timer');">ADMIN: Start Timer</button>
            <button onclick="sendMessageAdmin('admin_check-question');">ADMIN: Check Question</button>
            <button onclick="sendMessageAdmin('admin_check-zoli');">ADMIN: Check Zoli</button>
            <button onclick="sendMessageAdmin('admin_check-dezso');">ADMIN: Check Dezso</button>
            <button onclick="sendMessageAdmin('admin_check-fonokok');">ADMIN: Check fonokok</button>
            <button onclick="sendMessageAdmin('admin_next-player');">ADMIN: Next Player</button>
            <button onclick="sendMessageAdmin('admin_players-attack');">ADMIN: Players Attack</button>
            <button onclick="sendMessageAdmin('admin_end-round');">ADMIN: End Round</button>
            <p><span><b>Vészhelyzet esetén:</b></span><br>
            <button onclick="sendMessageAdmin('admin_dice');">ADMIN: Roll the dice!</button></p>
        </div>
        <p><b>Control screens</b></p>
        <div id="screencontrols"><div><button onclick="sendMessage('admin_disable_screen');addlog('screen disabled');">Disable screens</button><button onclick="sendMessage('admin_allow_screen');addlog('screen enabled');">Enable screens</button></div></div>
    </div>
    <!---<input type="text" id="messageInput" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>-->
    <div id="response"></div>
    <div id="logging">
    <span>Admin log:</span>
    <div id="log"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script>
        //init basic
        var socket = io.connect('https://' + document.domain + ':' + location.port);
        //basic send
        function sendMessage(message) {
            socket.emit('message_from_admin', message);
        }

        function getDateTime(){
            var currentDateTime = new Date();
            var date = currentDateTime.toLocaleDateString(); // Get the date (e.g., 10/23/2023)
            var time = currentDateTime.toLocaleTimeString();
            return date + " " + time;
        }

        function addlog(message){
            time = getDateTime();
            $("#log").prepend("<p>"+ time +" - " + message + "</p>")
        }

        function sendMessageAdmin(what){
            sendMessage(what);
            //$("button:contains("+what+")").addClass("selected");//.attr("disabled",true);
            addlog("Admin: "+ what);
        }

        let count = 0;
                setInterval(() => {
                    socket.volatile.emit("ping_admin", ++count);
                }, 60000);
        /*
        socket.on('custom_message_to_controller', function(message) {
        var responseDiv = document.getElementById('response');
        responseDiv.innerHTML = '<p>' + message + '</p>';
        });*/
    </script>
</body>

</html>