<!doctype html>
<html>

<head>
    <title>Controller Page</title>
</head>

<body>
    <h1>Controller Page</h1>
    <input type="text" id="messageInput" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>
    <div id="response"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        function sendMessage() {
            var message = document.getElementById('messageInput').value;
            socket.emit('message_from_controller', message);
        }
        socket.on('custom_message_to_controller', function(message) {
            var responseDiv = document.getElementById('response');
            responseDiv.innerHTML = '<p>' + message + '</p>';
        });
    </script>
</body>

</html>