<!doctype html>
<html>

<head>
    <title>DE Controller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex">
    <link href="{{ url_for('static', filename='styles/general.css')}}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        #controller {
            background-image: url("{{ url_for('static', filename='databoy.png') }}");
            background-size: cover;
            /* Additional styles for the body can be added here */
        }
    </style>
</head>

<body>
    <div id="csapatnev" style="display: none;">
        <p align="center">
            <font size="+3"><b>DataExpert Teamname Planning System</b></font>
        </p>
        <p>
            <span>Add meg a csapatnevet: </span>
            <input type="text"><br>
            <center><button id="teamname">OK</button></center>
        </p>
    </div>
    <div id="container">
        <div id="controller">
            <div id="disablecontroller" class="invisible"></div>
            <div id="lcd">

            </div>
            <div id="buttons">
                <div id="manualstick">
                    <div class="row">
                        <button id="btnA">A</button>
                    </div>
                    <div class="row">
                        <!--<button id="btnD" disabled>D</button>-->
                        <button id="btnB">B</button>

                    </div>
                    <div class="row">
                        <button id="btnC">C</button>
                    </div>
                </div>
                <div id="controls">
                    <button id="btnErase">Erase</button>
                    <button id="btnEnter">Enter</button>
                </div>
                <input type="text" id="sendit">
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>

        <script>
            var team = "";
            /*accent eltávolító, bocsiii*/

            document.addEventListener('DOMContentLoaded', function () {
                function removeAccents(str) {
                var accents = 'íáéóöőúüűÍÁÉÓÖŐÚÜŰ';
                var nonAccents = 'iaeooouuuIAEOOOUUU';
                var accentMap = {};
                for (var i = 0; i < accents.length; i++) {
                    accentMap[accents.charAt(i)] = nonAccents.charAt(i);
                }
                var accentRe = new RegExp('[' + accents + ']', 'g');
                return str.replace(accentRe, function (match) {
                    return accentMap[match];
                });
            }


                function setCookie(name, value, days) {
                    const expires = new Date();
                    expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
                    document.cookie = `${name}=${value};expires=${expires.toUTCString()};path=/`;
                }
                function getCookie(name) {
                    const decodedCookie = decodeURIComponent(document.cookie);
                    const cookieArray = decodedCookie.split(';');
                    for (let i = 0; i < cookieArray.length; i++) {
                        const cookie = cookieArray[i].trim().split('=');
                        const cookieName = cookie[0];
                        const cookieValue = cookie[1];

                        if (cookieName === name) {
                            return cookieValue;
                        }
                    }
                    // Return null if cookie with the specified name is not found
                    return null;
                }

                const urlParams = new URLSearchParams(window.location.search);
                const userValue = urlParams.get('user');

                if (user=="dezso"){setCookie("teamname", "Dezso", 31);}
                if (user=="zoli"){setCookie("teamname", "Zoli", 31);}

                $("#teamname").click(function () {
                    team_accent = removeAccents($("#csapatnev input").val());
                    sendTeamname("teamname," + userValue + "," + $("#csapatnev input").val());
                    setCookie("teamname", team_accent, 31);
                    $("#csapatnev").hide();
                    team = team_accent;
                    writemsg2("Hajra " + team + "!", 0, 1)

                });

                $("#btnA").click(function () {
                    selectOpt("A");
                });
                $("#btnB").click(function () {
                    selectOpt("B");
                });
                $("#btnC").click(function () {
                    selectOpt("C");
                });
                /*$("#btnD").click(function(){
                    selectOpt("D");
                });*/
                $("#btnErase").click(function () {
                    $('#sendit').val('');
                    clearOpt();
                });
                $("#btnEnter").click(function () {
                    sendMessage($('#sendit').val());
                    $('#sendit').val("");
                });
                //read status
                $.getJSON("static/data/config.json", function (data) {

                });
                var socket = io.connect('https://' + document.domain + ':' + location.port);

                /*üzi küldése a szarvernek*/
                function sendMessage() {
                    var message = document.getElementById('sendit').value;
                    socket.emit('message_from_controller', message);
                    displayallowed("no");
                }
                function sendTeamname(message) {
                    socket.emit('message_from_controller', message);
                }


                function displayallowed(val) {
                    if (val == "yes") {
                        $("#disablecontroller").addClass("invisible");
                        $("#disablecontroller").removeClass("visible");
                    } else {
                        $("#disablecontroller").removeClass("invisible");
                        $("#disablecontroller").addClass("visible");
                    }
                }

                /*üzi fogadás a szarver felől*/
                socket.on('message_to_controller', function (message) {
                    if (message.startsWith("question")) {
                        changequest(message);
                        displayallowed("yes");
                        //change map
                        //writemsg2(map, 1, 18);
                        lcd.clearScreen();
                        console.log("map changed");
                        // code block
                    }
                    else if (message == "admin_disable_screen") {
                        displayallowed("no");
                        console.log("screen disabled");
                    }
                    else if (message == "admin_allow_screen") {
                        displayallowed("yes");
                        console.log("screen enabled");
                        // code block
                    }
                    else if (message.startsWith("dice") && message.split[","][1]==userValue) {
                        displayallowed("yes");
                        dice();

                        console.log("screen enabled");
                        // code block
                    }
                    /*else if (message == "admin_next-level") {
                        displayallowed("yes");
                        //change map
                        //changemap("map");
                        lcd.clearScreen();
                        console.log("question changed");
                        // code block
                    }*/

                });

                var lcdrows = 11;
                var lcdcolumns = 20;

                var lcd = new LCD({
                    elem: document.getElementById("lcd"),
                    rows: 11,
                    columns: 20,
                    pixelSize: 2,
                    pixelColor: "#000"
                });
                async function writemsg(msg, rownr, offset) {
                    return new Promise(resolve => {
                        if (rownr < 1) {
                            x = offset - 1;
                        } else {
                            x = lcdcolumns * rownr + offset - 1;
                        }
                        lcd.writeString({
                            string: msg,
                            offset: x
                        });
                        resolve();
                    });
                }
                async function writemsg2(msg, rownr, offset) {
                    return new Promise(resolve => {
                        let x;
                        if (rownr < 1) {
                            x = offset - 1;
                        } else {
                            x = lcdcolumns * rownr + offset - 1;
                        }
                        let len = 0;
                        var interv = setInterval(function () {
                            tochar = msg[len];
                            // console.log(msg + " " + tochar + " " + tochar.charCodeAt(0));
                            lcd.writeCharacter({
                                charCode: tochar.charCodeAt(0),
                                blockIndex: x + len
                            });
                            len++;
                            if (len == msg.length) {
                                clearInterval(interv);
                                resolve(); // Resolve the promise when the function is done
                            }
                        }, 100);
                    });
                }
                function sleep(milliseconds) {
                    const date = Date.now();
                    let currentDate = null;
                    do {
                        currentDate = Date.now();
                    } while (currentDate - date < milliseconds);
                }

                async function changequest(message) {
                    quest = message.split(",")[1];
                    opt1 = message.split(",")[2];
                    opt2 = message.split(",")[3];
                    opt3 = message.split(",")[4];
                    await writemsg2(removeAccents(quest), 0, 1);
                    await writemsg2("A "+ removeAccents(opt1), 5, 2);
                    await writemsg2("B "+ removeAccents(opt2), 7, 2);
                    await writemsg2("C "+ removeAccents(opt3), 9, 2);
                }

                async function dice() {
                    lcd.clearScreen();
                    await writemsg2("Dobj a kockaval!", 3, 1);
                    await writemsg2("Nyomj (enter)-t",4,1);
                    $('#sendit').val('dice');
                }

                function selectOpt(letter) {
                    clearOpt();
                    if (letter == 'A') {
                        writemsg2(">", 5, 1);
                        $("#sendit").val("player,"+userValue+","+0)
                    }
                    if (letter == 'B') {
                        writemsg2(">", 7, 1);
                        $("#sendit").val("player,"+userValue+","+1)
                    }
                    if (letter == 'C') {
                        writemsg2(">", 9, 1);
                        $("#sendit").val("player,"+userValue+","+2)
                    }
                    /*if (letter=='D'){
                        writemsg2(">", 10, 1);
                    }*/

                }

                function clearOpt() {
                    lcd.clearCharacter({ blockIndex: 100 });
                    //lcd.clearCharacter({ blockIndex: 201 });
                    lcd.clearCharacter({ blockIndex: 140 });
                    //lcd.clearCharacter({ blockIndex: 141 });
                    lcd.clearCharacter({ blockIndex: 180 });
                    //lcd.clearCharacter({ blockIndex: 161 });
                    //lcd.clearCharacter({ blockIndex: 180 });
                    //lcd.clearCharacter({ blockIndex: 181 });
                }


                ind = -20;
                var invl = setInterval(function () {
                    writemsg("....................", 0, ind);
                    writemsg(".....DDDDDDDDDDD....", 1, ind);
                    writemsg("...D................", 2, ind);
                    writemsg(".DD....DDDDDDDD.....", 3, ind);
                    writemsg(".DD..............D..", 4, ind);
                    writemsg(".DD...DDDDDDDD...DD.", 5, ind);
                    writemsg(".DD..............DD.", 6, ind);
                    writemsg("..D..DDDDDDDD....D..", 7, ind);
                    writemsg("...............DD...", 8, ind);
                    writemsg("......DDDDDDDD......", 9, ind);
                    writemsg("....................", 10, ind);
                    ind++;
                    //console.log(ind)
                    if (ind == 2) {
                        clearInterval(invl)
                        setTimeout(function () {
                            lcd.clearScreen();
                            if (getCookie("teamname") == null) {
                                $("#csapatnev").show();
                            } else {
                                $("#csapatnev").hide();
                                team = getCookie("teamname");
                                writemsg2("Hajra " + team + "!", 0, 1)
                            }

                            
                            // .then(() => writemsg2("Pont: " + "0", 1, 2));
                        }, 1500);
                    }
                }, 100);
                /*var index = 0;
                var invl = setInterval(function() {
                    // clear screen
                    lcd.clearScreen();
    
                    // write new string
                    lcd.writeString({
                        string: "Hello World! This is my first LCD message.",
                        offset: index++
                    });
    
                    // clear interval
                    if (index === 32) {
                        clearInterval(invl);
                    }
                }, 500);
    
                lcd.writeString({
                    string: "Hello World!",
                    offset: 3
                });*/
                let count = 0;
                setInterval(() => {
                    socket.volatile.emit("ping", ++count);
                }, 60000);
            });

        </script>
        <script type="text/javascript" src="static/lcd.js">
            import { characterMap } from 'static/character-map';
        </script>
        <!--<script type="text/javascript" src="static/character-map.js"></script>-->
</body>

</html>